<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners> 
        <listener class-name="org.example.report.Setup"></listener>
    </listeners>
    <test  name="Create booking test"> <!--parallel="methods" thread-count="2">-->
        <classes>
            <class name="bookingAPI.CreateBookingTest">
                <methods>
                    <include name="postTest1"/>
                   <!-- <include name="postTest2"/>-->
                </methods>
            </class>
        </classes>
    </test>

</suite>